<a href="https://colab.research.google.com/github/douglassesi/Python/blob/master/desafio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 2
DOUGLAS ALBUQUERQUE RODRIGUES - RM335859

### Obtendo informações importantes acerca do dataset

Vamos utilizar o dataset breast_cancer_data.csv para fazer uma análise exploratória cujo objetivo é responder a alguns questionamentos que surgiram a respeito desse conjunto.

Vamos começar lendo e entendendo nossos dados:

In [0]:
import pandas as pd
import numpy as np

In [21]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','classs','doctor_name']

caminho = 'breast_cancer_data.csv'

data = pd.read_csv(caminho,names=colunas)
data.head()

        id  clump_thickness  cell_size_uniformity  ...  mitoses  classs  doctor_name
0  1000025              5.0                   1.0  ...        1  benign      Dr. Doe
1  1002945              5.0                   4.0  ...        1  benign    Dr. Smith
2  1015425              3.0                   1.0  ...        1  benign      Dr. Lee
3  1016277              6.0                   8.0  ...        1  benign    Dr. Smith
4  1017023              4.0                   1.0  ...        1  benign     Dr. Wong

[5 rows x 12 columns]

In [22]:
# TODO: entendimento básico dos dados - preencha as lacunas no código a fim de obter o resultado desejado

# quantas linhas e quantas colunas existem no dataset?
count_col_rows = data.shape

print('formato: Linhas', count_col_rows[0], '\n','Colunas ', count_col_rows[1])

quais os tipos de dados de cada coluna?

data_type = data.dtypes

print('tipos de dados: ',data_type,'\n')

#quais as principais estatísticas dos dados numéricos do dataset?

descricao = data.describe()

print('principais estatísticas: ', descricao, '\n')

formato: Linhas 699
 Colunas  12
Object `coluna` not found.
tipos de dados:  id                         int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
classs                    object
doctor_name               object
dtype: object

principais estatísticas:                   id  clump_thickness  ...  normal_nucleoli     mitoses
count  6.990000e+02       698.000000  ...       698.000000  699.000000
mean   1.071704e+06         4.416905  ...         2.868195    1.589413
std    6.170957e+05         2.817673  ...         3.055647    1.715078
min    6.163400e+04         1.000000  ...         1.000000    1.000000
25%    8.706885e+05         2.000000  ...         1.000000    1.000000
50%    1.171710e+06         4.000000  ...         1.000000    1.000000
75%    1.238298e+06         6.000000  ...         4.000000    1.000000
max    1.345435e+07        10.000000  ...        10.000000   10.000000

[8 rows x 9 columns]

In [23]:
# TODO: obtendo informações sobre o dataset



# retorne uma Serie que mostre qual a classificação (maligno e benigno) que cada médico deu para cada amostra: 
# Exemplo de retorno
# class      doctor_name
# benign   Dr. Doe        127
#          Dr. Lee        121
#          Dr. Smith      102
#          Dr. Wong       108

# Código: 

agrupado = data.groupby(["classs","doctor_name"])["id"].count().sort_values(ascending=False)
agrupado

classs     doctor_name
benign     Dr. Doe        127
           Dr. Lee        121
           Dr. Wong       108
           Dr. Smith      102
malignant  Dr. Smith       74
           Dr. Lee         60
           Dr. Doe         58
           Dr. Wong        49
Name: id, dtype: int64

In [24]:
# TODO: obtendo informações sobre o dataset

# Use o método select_dtypes() para selecionar apenas colunas do tipo float64 e int64. Armazene na variável data_num
data_num = data.select_dtypes(include=["float","int64"])

# Encontre as n variáveis que possuem um valor absoluto de correlação maior que 0.5 com a variável clump_thickness, excluindo ela mesma 

corr_matrix = data.corr()
corr_clump=corr_matrix['clump_thickness'].sort_values(ascending=False)
data_num= corr_clump[(corr_clump > 0.5) & (corr_clump < 1)]

# retorne os valores de forma descendente
# sempre utilize a variável data_num para receber o resultado de suas operações

print("Existem {} variáveis correlacionadas com clump_thickness:\n{}".format(len(data_num), data_num))

Existem 5 variáveis correlacionadas com clump_thickness:
cell_shape_uniformity    0.654632
cell_size_uniformity     0.644636
bland_chromatin          0.558924
normal_nucleoli          0.535773
single_ep_cell_size      0.522108
Name: clump_thickness, dtype: float64

In [25]:
# TODO: obtendo informações sobre o dataset

# qual o tamanho médio das células para cada tipo de tumor?

benigno = data.query("classs == 'benign'")
maligno = data.query("classs == 'malignant'")

avg_cell_benigno = benigno['cell_size_uniformity'].mean()
avg_cell_maligno = maligno['cell_size_uniformity'].mean()

print('Tamanho médio do tipo benigno: ',avg_cell_benigno,'\n')
print('Tamanho médio do tipo maligno: ',avg_cell_maligno,'\n')

# qual o número máximo de mitoses em tumores benignos encontrados pelo Dr. Wong?

wong_benigno = benigno.query("doctor_name == 'Dr. Wong'")
max_mitoses_benigno = wong_benigno['mitoses'].max()

print('Número máximo de mitoses em tumores benignos: ', max_mitoses_benigno )

# e qual o número máximo de mitoses em tumores malignos encontrados pelo mesmo médico?
wong_maligno = maligno.query("doctor_name == 'Dr. Wong'")
max_mitoses_maligno = wong_maligno['mitoses'].max()

print('\nNúmero máximo de mitoses em tumores malignos: ',max_mitoses_maligno)

Tamanho médio do tipo benigno:  1.3260393873085339

Tamanho médio do tipo maligno:  6.572614107883817

Número máximo de mitoses em tumores benignos:  3

Número máximo de mitoses em tumores malignos:  10

In [0]:
# TODO: filtrando os dados

# Existem três pacientes (id) que aparecem mais que duas vezes no dataset. Retorne uma série ordenada de forma descendente que mostre o
# id do paciente bem como a quantidade de vezes que ele aparece repetido no dataset
repeated_patients = data.groupby(['id'])['id'].count().sort_values(ascending=False)
# Elimine esses dois pacientes do dataframe de modo que este contenha apenas pacientes que apareceram no máximo duas vezes
filtered_patients = repeated_patients[(repeated_patients <= 2)]

lista_remove = repeated_patients[(repeated_patients > 2)]

filtered_data = data.drop(lista_remove)

In [27]:

filtered_data.describe()

                 id  clump_thickness  ...  normal_nucleoli     mitoses
count  6.960000e+02       695.000000  ...       695.000000  696.000000
mean   1.071939e+06         4.414388  ...         2.858993    1.591954
std    6.184157e+05         2.816853  ...         3.053363    1.718337
min    6.163400e+04         1.000000  ...         1.000000    1.000000
25%    8.692190e+05         2.000000  ...         1.000000    1.000000
50%    1.171752e+06         4.000000  ...         1.000000    1.000000
75%    1.238424e+06         6.000000  ...         3.500000    1.000000
max    1.345435e+07        10.000000  ...        10.000000   10.000000

[8 rows x 9 columns]